[core]

# inherit from the columnflow configuration file
inherit: $DIJET_BASE/law.cfg


[analysis]

default_analysis: dijet.config.analysis_dijet.analysis_dijet
default_config: run2_2017_JMEnano_v9_limited
default_dataset: qcd_ht100to200_madgraph


[outputs]

# output locations per task family
# for local targets : "local[, LOCAL_FS_NAME or STORE_PATH]"
# for remote targets: "wlcg[, WLCG_FS_NAME]"
# (when WLCG_FS_NAME is empty, the tasks' "default_wlcg_fs" attribute is used)
task_cf.GetDatasetLFNs: local  # wlcg, wlcg_fs_desy_bletzer
task_cf.CalibrateEvents: local  # wlcg, wlcg_fs_desy_bletzer
task_cf.SelectEvents: local  # wlcg, wlcg_fs_desy_bletzer
task_cf.ReduceEvents: local  # wlcg, wlcg_fs_desy_bletzer

task_dijet.Asymmetry: local
task_dijet.AlphaExtrapolation: local
task_dijet.JER: local
task_dijet.SF: local
task_dijet.UHH2ToParquet: local,  /data/dust/user/dsavoiu/Work/JERC/DiJetJERC/data/cf_store

# comment this in to use your plotbrowser 
# task_dijet.Plot*: wlcg, wlcg_fs_plots

# comment this out when using your plotbrowser
task_dijet.PlotAsymmetries: local
task_dijet.PlotWidth: local
task_dijet.PlotJERs: local
task_dijet.PlotSFs: local

task_dijet.JERtoRoot: local


[wlcg_fs_plots]
# set this to your desired location
webdav_base: davs://eoscms.cern.ch:443/eos/user/${CF_CERN_USER_FIRSTCHAR}/${CF_CERN_USER}/Projects/DiJetJERC/php-plots/plots/${CF_STORE_NAME}
xrootd_base: root://eosuser.cern.ch//eos/user/${CF_CERN_USER_FIRSTCHAR}/${CF_CERN_USER}/Projects/DiJetJERC/php-plots/plots/${CF_STORE_NAME}
base: &::xrootd_base
create_file_dir: True
use_cache: $CF_WLCG_USE_CACHE
cache_root: $CF_WLCG_CACHE_ROOT
cache_cleanup: $CF_WLCG_CACHE_CLEANUP
cache_max_size: 25GB

# you can set up your own dcache location in this manner
[local_desy_dcache_bletzer]
base: /pnfs/desy.de/cms/tier2/store/user/bletzer/dijet_jerc
[wlcg_fs_desy_bletzer]

webdav_base: davs://dcache-cms-webdav-wan.desy.de:2880/pnfs/desy.de/cms/tier2/store/user/bletzer/dijet_jerc
xrootd_base: root://dcache-cms-xrootd.desy.de:1094/pnfs/desy.de/cms/tier2/store/user/bletzer/dijet_jerc
gsiftp_base: gsiftp://dcache-door-cms04.desy.de:2811/pnfs/desy.de/cms/tier2/store/user/bletzer/dijet_jerc
base: &::webdav_base
create_file_dir: True
use_cache: $CF_WLCG_USE_CACHE
cache_root: $CF_WLCG_CACHE_ROOT
cache_cleanup: $CF_WLCG_CACHE_CLEANUP
cache_max_size: 50GB
